* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  color: white;
  height: 657px;
  background-image: url("background.webp");
  background-size: cover;
  background-size: 85rem;
  background-repeat: no-repeat;
  background-position: center center;
}

.button{
  text-decoration: none;
}